In [1]:
!pip install sentencepiece

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sentencepiece
  Downloading sentencepiece-0.1.97-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 5.1 MB/s
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.97

In [2]:
import pandas as pd 
import sentencepiece as spm 
import urllib.request 
import csv

urllib.request.urlretrieve("https://raw.githubusercontent.com/e9t/nsmc/master/ratings.txt", filename="ratings.txt") 

naver_df = pd.read_table('ratings.txt')

naver_df = naver_df.dropna(how = 'any') # Null 값이 존재하는 행 제거 

# 결과를 naver_review.txt 파일에 저장
with open('naver_review.txt', 'w', encoding='utf8') as f:
	f.write('\n'.join(naver_df['document']))

In [6]:
spm.SentencePieceTrainer.Train('--input=naver_review.txt --model_prefix=naver --vocab_size=10000 --model_type=bpe --max_sentence_length=9999')

# **단어수 문장수 고유단어수 구하기**

In [ ]:
#전체 문장

print(naver_df)

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[199992 rows x 3 columns]

In [8]:
naver_review= pd.read_table('naver_review.txt')
print(naver_review)

                                      어릴때보고 지금다시봐도 재밌어요ㅋㅋ
0       디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...
1                    폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.
2       와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...
3                             안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.
4                           사랑을 해본사람이라면 처음부터 끝까지 웃을수 있는영화
...                                                   ...
198776                                     포켓 몬스터 짜가 ㅡㅡ;;
198777                                              쓰.레.기
198778                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.
198779                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ
198780                                    포풍저그가나가신다영차영차영차

[198781 rows x 1 columns]

In [9]:
#문장수 null값을 제외한 문장수 

print(len(naver_df)) 
print(len(naver_review))

199992
198781

In [11]:
naver_review= pd.read_table('naver_review.txt', header = None)
#print(naver_review[90001:90011])
w = naver_review[0]
#print(w)
lines = w[90001:90011].tolist()
#print(lines)
sp = spm.SentencePieceProcessor()
vocab_file = "naver.model"
sp.load(vocab_file)

for line in lines:
  print(line)
  print(sp.encode_as_pieces(line))
  print(sp.encode_as_ids(line))
  print()

박성웅은 역시 연기를 너무 잘해
['▁박', '성', '웅', '은', '▁역시', '▁연기를', '▁너무', '▁잘', '해']
[351, 8377, 8912, 8297, 288, 1241, 23, 63, 8323]

지구 탄생 이래 최초의 인류의 공동 프로젝트
['▁지구', '▁탄생', '▁이래', '▁최초', '의', '▁인', '류의', '▁공', '동', '▁프로', '젝', '트']
[2997, 4375, 2271, 4137, 8294, 77, 2886, 120, 8371, 1202, 9508, 8472]

여자 개미 호바가 진짜 귀여움
['▁여자', '▁개', '미', '▁호', '바', '가', '▁진짜', '▁귀여움']
[312, 74, 8317, 552, 8448, 8285, 54, 5940]

화려한 배우들 모아놓고 액션도 좋고 스토리도 좋앗고 눈이 즐거웟다,,한국판 오션스일레븐?
['▁화려한', '▁배우들', '▁모아', '놓고', '▁액션도', '▁좋고', '▁스토리도', '▁좋앗', '고', '▁눈이', '▁즐거', '웟', '다', ',,', '한국', '판', '▁오', '션', '스', '일', '레', '븐', '?']
[2135, 581, 6621, 962, 1881, 845, 809, 7476, 8280, 2359, 1605, 9410, 8278, 245, 2810, 8559, 72, 8489, 8312, 8368, 8411, 9221, 8329]

어디론가 다녀온 듯한 여운
['▁어디', '론가', '▁다녀', '온', '▁듯한', '▁여운']
[646, 1327, 6404, 8579, 1998, 549]

새로운 느낌의 드라마...음악이 한 몫 했다...
['▁새로운', '▁느낌의', '▁드라마', '...', '음악', '이', '▁한', '▁', '몫', '▁했다', '...']
[1601, 4343, 114, 8, 1543, 8277, 37, 8275, 9420, 1505, 8]

아저씨를 이을 최고의 액션영화
['▁아저씨', '를', '▁이', '을', '▁최고의', '▁액션영화']
[2488, 8331, 6, 8301, 200, 2989]

OO신다리~ㅋㅋㅋ 귀여워
['▁OO', '신', '다리', '~', 'ᄏᄏᄏ', '▁귀여워']
[411, 8385, 7620, 8341, 326, 4924]

.............
['▁', '........', '.....']
[8275, 585, 559]

정말 좋은영화네요...
['▁정말', '▁좋은영화', '네요', '...']
[42, 1790, 39, 8]

In [ ]:
vocab_list = pd.read_csv('naver.vocab', sep='\t', header=None, quoting=csv.QUOTE_NONE)
vocab_list[:10]

       0  1
0  <unk>  0
1    <s>  0
2   </s>  0
3     영화  0
4     .. -1
5    ▁영화 -2
6     ▁이 -3
7     ▁재 -4
8     ▁아 -5
9     ▁보 -6

In [ ]:
vocab_list.sample(10)

         0     1
401    ▁여자  -398
629    ▁않은  -626
1017   한영화 -1014
1268    ▁읽 -1265
1800  ▁여전히 -1797
3452     봐 -3449
3627     식 -3624
1133    ▁왕 -1130
896     리지  -893
2220   ▁답답 -2217

In [ ]:
len(vocab_list)

5000

In [ ]:
sp = spm.SentencePieceProcessor()
vocab_file = "naver.model"
sp.load(vocab_file)

True

In [ ]:
lines = [
  "뭐 이딴 것도 영화냐.",
  "진짜 최고의 영화입니다 ㅋㅋ",
]
for line in lines:
  print(line)
  print(sp.encode_as_pieces(line))
  print(sp.encode_as_ids(line))
  print()

뭐 이딴 것도 영화냐.
['▁뭐', '▁이', '딴', '▁것도', '▁영화', '냐', '.']
[355, 6, 4194, 2118, 5, 3734, 3323]

진짜 최고의 영화입니다 ㅋㅋ
['▁진짜', '▁최고의', '▁영화입니다', '▁ᄏᄏ']
[58, 105, 462, 80]

In [ ]:
sp.GetPieceSize()

5000

In [ ]:
sp.IdToPiece(4)

'..'

In [ ]:
sp.PieceToId('영화')

3